table{
    margin: 5vh 5%;
}
  
th, td, tr{
    text-align: center;
}
  
.table__value{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0px 0px 10px rgba(22, 17, 17, 0.5);
    align-items: center;
    border-radius: 10px;
    background-color: #ceedf7;
}