.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input__value{
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 0px 10px rgba(22, 17, 17, 0.5);
  align-items: center;
  border-radius: 10px;
  background-color: #43ffe6;
}

input{
  border: none;
  box-shadow: 0px 0px 10px rgba(67, 65, 65, .5);
  font-size: 1.2rem;
  padding: 10px;
  margin: 2vh 5%;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
}

input:focus{
  text-decoration: none;
}

input:focus-within{
  border: 2px solid aqua;
}

button{
  width: auto;
  max-width: 30%;
  margin: 2vh 5%;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 200px;
  box-shadow: 0px 0px 10px rgba(67, 65, 65, .5);
  cursor: pointer;
}

table{
  margin: 5vh 5%;
}

th, td, tr{
  text-align: center;
}

.table__value{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 0px 10px rgba(22, 17, 17, 0.5);
  align-items: center;
  border-radius: 10px;
  background-color: #ceedf7;
}